{% extends 'Base.html' %}
{% block head %}
    <script type="text/javascript">

        google.setOnLoadCallback(drawChart);
            function drawChart() {

                var jsonData = $.ajax({
                                url: "{{ url_for('getScatterData',type='allAgencies') }}",
                                dataType: "json",
                                async: false
                            }).responseText;
                var options = {
                        chart:{
                            title: 'Sentiment Analysis',
                            subtitle:'Real Estate Agencies'
                        },
                        height:500,
                        hAxis: {title: 'Score', minValue: -1, maxValue: 1},
                        vAxis: {title: 'Count'},
                        legend: 'none'
                    };
            //alert(jsonData)
            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.charts.Scatter(document.getElementById('chart_div'));
            chart.draw(data, options);

            }
           google.load("visualization", "1.1", {packages: ["scatter"]});



            google.load("visualization", "1", {packages: ["corechart"]});
            google.setOnLoadCallback(drawChart2);
            function drawChart2() {
                      var jsonData = $.ajax({
                                url: "{{ url_for('getTrendData',type='allAgenciesresult') }}",
                                dataType: "json",
                                async: false
                            }).responseText;

                      var options = {
                        title:"Overall Trend of Sentiment of Real Estate Agencies",
                        height: 500,
                        legend: { position: 'top', maxLines: 3 },
                        bar: { groupWidth: '75%' },
                        isStacked: 'percent',
                      };
                //alert(jsonData)
                var data = new google.visualization.DataTable(jsonData);
                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
                chart.draw(data, options);

            }

    </script>
  </head>
{% endblock %}

{% block body %}
  <div id="chart_div"></div>
  <div id="chart_div2" align="left"></div>
{% endblock %}