{% extends 'Base.html' %}
{% block head %}

    <script type="text/javascript">
     google.load('visualization', '1', {packages: ['line', 'corechart']});
     google.setOnLoadCallback(init);
     function init(){
         drawCharHousePricewithRenterPayment()
     }

 // HousePricewithRenterPayment
    function drawCharHousePricewithRenterPayment() {
      var jsonData = $.ajax({
                                url: "{{ url_for('getHousePricewithRenterPayment',type='housepricewithrenterpayment') }}",
                                dataType: "json",
                                async: false
                            }).responseText;

      var HPR_materialOptions = {
        chart: {
          title: 'Renter Payment vs House Price'
        },
        width: 900,
        height: 500,
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: 'Ratio'},
          1: {axis: 'PriceWRentalPayment'},
          2: {axis: 'PriceWRentalPayment'}
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            Ratio: {label: 'Ratio '},
            PriceWRentalPayment: {label: 'House price & RenterPayment'}
          }
        }
      };
        console.log(jsonData)
        var data2 = new google.visualization.DataTable(jsonData);
        var materialChart2 = new google.charts.Line(document.getElementById('HousePricewithRenterPayment_div'));
        materialChart2.draw(data2, HPR_materialOptions);

    }

    </script>
  </head>
{% endblock %}

{% block body %}
  <div id="HousePriceIndex_div"></div>
  <p>    </p>
  <div id="chart_div"></div>
  <p></p>
  <div id="HousePricewithRenterPayment_div"></div>
{% endblock %}