{% extends 'Base.html' %}
{% block head %}

    <script type="text/javascript">
     google.load('visualization', '1', {packages: ['line', 'corechart']});
     google.setOnLoadCallback(init);
     function init(){
         drawHousePriceIndexChart()
     }

     // house price index
     function drawHousePriceIndexChart() {
      var jsonData = $.ajax({
                                url: "{{ url_for('getBubbleHousingIndex',type='mortgagewithgdp') }}",
                                dataType: "json",
                                async: false
                            }).responseText;
      var options = {
        title: 'Mortgage with GDP',
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Index'
        }
      };
      //console.log(jsonData)
      var data =  new google.visualization.DataTable(jsonData);
      var chart = new google.charts.Line(document.getElementById('Chart_div'));
      chart.draw(data, options);
    }

    </script>
  </head>
{% endblock %}

{% block body %}
  <div id="Chart_div"></div>
{% endblock %}